<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://192.168.1.194:1433;databaseName=dbAhsan</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Egp12345</property>
    <mapping class="com.ahsan.domain.TblPageDetail"/>
    <mapping class="com.ahsan.domain.TblPageMaster"/>
    <mapping class="com.ahsan.domain.TblArticle"/>
    <mapping class="com.ahsan.domain.Employee"/>
  </session-factory>
</hibernate-configuration>
